<ion-header>
  <ion-toolbar>
    <ion-title>Edit your Information</ion-title>
    <ion-icon size="large" slot="start" name="arrow-back-outline" (click)="goBack()"></ion-icon>
  </ion-toolbar>
</ion-header>
 
<ion-content>
 <form [formGroup]="edit_user_form" (submit)="updateUser(edit_user_form.value)">
    <ion-item>
      <ion-label color="primary" position="floating">First Name</ion-label>
      <ion-input type="text" formControlName="firstName" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">Last Name</ion-label>
      <ion-input type="text" formControlName="lastName" required></ion-input>
    </ion-item> 
    <ion-item>
      <ion-label color="primary" position="floating">Bio</ion-label>
      <ion-textarea type="text"  formControlName="bio" required  autogrow="true" spellcheck="true"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">Phone Number</ion-label>
      <ion-input type="text" formControlName="phone" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">Company</ion-label>
      <ion-input type="text" formControlName="company" ></ion-input>
    </ion-item >
    <img id="currentPic" src="{{profilePic}}">
    <ion-label id="editPic" color="primary" position="floating">Update Profile Picture</ion-label>
    <ion-item>
      <ion-input type="file" formControlName="URL" multiple="false" accept="image/*" ></ion-input>
    </ion-item>
    <ion-button class="submit-btn" expand="block" type="submit" >Update</ion-button>
  </form>
</ion-content>
 