<ion-header>
  <ion-toolbar>
    <ion-title>Tasks</ion-title>
    <ion-icon size="large" slot="start" name="arrow-back-outline" (click)="goBack()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-label>
      In-Progress
    </ion-label>
    <ion-item *ngFor="let task of tasks">
      {{task}}
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-label>
      Completed
    </ion-label>
    <ion-item *ngFor="let task of tasks">
      {{task}}
    </ion-item>
  </ion-list>
</ion-content>
