<ion-header>
  <ion-toolbar>
    <ion-title>Tasks</ion-title>
    <ion-icon size="large" slot="start" name="arrow-back-outline" (click)="goBack()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines = "none" id="activeTask">
    <ion-label class= "title">
      In-Progress
    </ion-label>
    <ng-container *ngFor="let task of tasks">
    <ion-item id="task"  *ngIf="task.complete == false" >
      <ion-icon color="danger" size="small" slot="start" name="square-outline" (click)="completeTask(task)"></ion-icon>
      <p>

      {{task.title}}  {{task.percent}}%
     
      <br> {{task.description}}
      <br> Assigned To:<br>
      <span *ngFor="let email of task.team">  ~ {{email}} <br></span>

      </p>
      <ion-icon color="danger" size="small" slot="end" name="trash" (click)="deleteTask(task)"></ion-icon>
    </ion-item>
  </ng-container>
  </ion-list>
  <ion-list lines = "none" id="activeTask">
    <ion-label class ="title">
      Complete
    </ion-label>
    <ng-container *ngFor="let task of tasks">
    <ion-item *ngIf="task.complete == true">
      <ion-icon color="success" size="small" slot="start" name="checkbox" (click)="incompleteTask(task)"></ion-icon>
      <p>

      {{task.title}}  {{task.percent}}%
     
      <br> {{task.description}}
      <br> Assigned To:<br>
      <span *ngFor="let email of task.team">  ~ {{email}} <br></span>

      </p>
    </ion-item>
  </ng-container>
  </ion-list>
</ion-content>
