#Google{
    max-width: 50px;
    max-height: 50px;
}

#Google:hover{
    background-color: rgba(240, 233, 233, 0.541);
}

#logo{
    max-width: 100px;
    max-height: 100px;
    margin: auto;
    display: block;
}