<ion-header>
  <ion-toolbar>
    <ion-icon  id="back" slot="start" name="arrow-back" (click)="goBack()"></ion-icon>
    <ng-container *ngIf="user.id != currentUser">
    <ion-icon color="danger" id="options" slot="end" name="person-remove" (click)="removeUser()" ></ion-icon>
  </ng-container>
    <ion-title>
      {{user.firstName}}  {{user.lastName}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="background">
    <img src="assets/imgs/defaultUser.jpg">
  </div>

  <div id="profile">
    <h1 >{{user.firstName}}    {{user.lastName}}
    </h1>
    <p id="info" >
      <ion-icon name="mail"></ion-icon> {{user.email}}  
      <ion-icon name="call"></ion-icon> {{user.phone}}
    </p>
  </div>

  <div id="about">
      <h4> <strong>About</strong></h4>
      <p id="bio">{{user.bio}}</p>
  </div>

    <div id="projectNum">
      <h4>Number of Projects Created:</h4>
      <p>{{user.numOfProjects}}</p>
    </div>

  <div id="company">
    <h4>Company</h4>
    <p>{{user.company}}</p>
  </div>
</ion-content>

