#header{
    text-align: center;
    margin-bottom: 20px;
}

#instructions{
    text-align: center;
    position: fixed;
    display: block;
    margin-left: 5%;
    margin-right: 5%;
}

#remove{
    display: block;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
