<ion-header>
  <ion-toolbar>
    <ion-title>Meetings</ion-title>
    <ion-icon size="large" slot="start" name="arrow-back-outline" (click)="goBack()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-label>
      Upcoming Meetings
    </ion-label>
    <ion-item *ngFor="let meeting of meetings" >
      {{meeting}}
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-label>
      Past Meetings
    </ion-label>
    <ion-item *ngFor="let meeting of meetings" >
      {{meeting}}
    </ion-item>
  </ion-list>
</ion-content>
