<ion-header>
  <ion-toolbar>
    <ion-title>Meetings</ion-title>
    <ion-icon size="large" slot="start" name="arrow-back-outline" (click)="goBack()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-label>
      Upcoming Meetings
    </ion-label>
    <ng-container *ngFor="let meeting of meetings">
    <ion-item *ngIf="meeting.passed == true" (click)="deleteMeeting(meeting)" >
      {{meeting.place}}
      <ion-icon color="danger" size="small" slot="end" name="trash"></ion-icon>
    </ion-item>
  </ng-container>
  </ion-list>

  <ion-list>
    <ion-label>
      Past Meetings
    </ion-label>
    <ng-container *ngFor="let meeting of meetings">
      <ion-item *ngIf="meeting.passed == false" (click)="deleteMeeting(meeting)" >
        {{meeting.place}}
        <ion-icon color="danger" size="small" slot="end" name="trash"></ion-icon>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
