<ion-header>
  <ion-toolbar>
    <ion-title>Messages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let message of messages">
      <ion-label>
        {{message.message}}     
      </ion-label>
      <ion-label>
        From: {{message.sender}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-item>
    <ion-textarea [(ngModel)]="recipient" auto-grow="true" placeholder="Send To:" spellcheck = "true">
      
    </ion-textarea>
    
  </ion-item>
  <ion-item>
    <ion-textarea [(ngModel)]="message" auto-grow="true" placeholder="Type Your Message" spellcheck = "true">
      
    </ion-textarea>
    <button (click) = "upload(message, recipient)">
      <ion-icon slot="end" size="large" name="send"></ion-icon>
    </button>
    
  </ion-item>
</ion-footer>
