#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#profile{
  width: 30px;
  height: 30px;
}

#settings{
  width: 30px;
  height: 30px;
}

#header{
  clear: both;
  float: right;
  align-self: center;
  text-align: center;
}