<ion-header>
  <ion-toolbar>
    <ion-icon id="profile" slot="start" name="person-sharp" (click)="goToProfile()"></ion-icon>
    <ion-title id="header" size="large"></ion-title>
    <ion-icon id="settings" slot="end" name="settings" (click)="goToSettings()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="container">
    <ion-list>
      <ion-item>
        <ion-label><h2><strong>Name</strong></h2></ion-label>
        <p><strong>% Complete</strong></p>
      </ion-item>
      <ion-item *ngFor="let project of projects" (click)="goToProject(project)">
        <ion-label><h2> {{project.name}} </h2></ion-label>
        <p> {{project.percentComplete}}%</p>
      </ion-item>
    </ion-list>
  </div>
 
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
    <ion-fab-button>
      <ion-icon name="add" (click)="goToCreateProject()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
 