<ion-header>
  <ion-toolbar>
    <ion-icon  id="back" slot="start" name="arrow-back" (click)="goBack()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor= "let user of users">
  <div id="background">
    <img src="{{user.url}}">
  </div>

  <div id="profile">
    <h1 *ngFor= "let user of users">{{user.firstName}}    {{user.lastName}}
    </h1>
    <p id="info" >
      <ion-icon name="mail"></ion-icon> {{user.email}}  
      <ion-icon name="call"></ion-icon> {{user.phone}}
    </p>
  </div>

  <div id="about">
      <h4> <strong>About</strong></h4>
      <p id="bio">{{user.bio}}</p>
  </div>

    <div id="projectNum">
      <h4>Number of Projects Created:</h4>
      <p>{{user.numOfProjects}}</p>
    </div>

  <div id="company">
    <h4>Company</h4>
    <p>{{user.company}}</p>
  </div>
</ion-content>
