#back{
    width: 30px;
    height: 30px;
}

#background{
    background-color: gray;
    width: 800px;
    height: 200px;
    display: table-cell;
    vertical-align: bottom;
}

#background img{
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
}
 
#profile{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
}

#bio{
    max-height: 75px;
}

#container{
    text-align: center;
    margin-bottom: 50px;;
}



#contact{
    display: block;
    float: left;
    margin-bottom: 50px;
    max-width: 190px;
}

#projectNum{
    display: block;
    float: right;
    margin-bottom: 50px;
    text-align: center;
    padding-right: 2px;
}


#company{
    clear: both;
    text-align: center;
    margin: auto;
    display: block;
}

#active{
    margin-bottom: 2px;
    display: inline-block;

}

#complete{
    display: block;
}
