#back{
    width: 30px;
    height: 30px;
}

#background{
    background-color: gray;
    width: 1%;
    height: 20%;
    display: table-cell;
    vertical-align: bottom;
}

#background img{
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
}
 
#profile{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
}

#info{
    font-style: italic;
}

#about{
    text-align: center;
}

#bio{
    margin: 5%;
}

#projectNum{
    text-align: center;
}

#company{
    text-align: center;
}