<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
    <ion-icon size="large" slot="start" name="arrow-back-outline" (click)="goBack()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="info">
    <img id="logo" src="assets/imgs/Logo.png">
    <h5 id="version">Beta Version 
      <br>2020</h5>
    <p>Group Project App was created at the University of South Carolina</p>
    </div>
  <ion-button color="danger" id="logout" (click)="logout()">Logout</ion-button>
</ion-content>
